div {
  border: solid black 1px;
  background-color: #af8585;
}

main > div:nth-child(2){
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 3fr 4fr;
}

main {
  display: grid;
  grid-template-columns: 10fr 5fr 500px 1fr fr 2fr 0.5fr 0.5fr;
  grid-template-rows: 100px 100px 200px 300px 100px 100px 100px 100px 100px;
  width: 1080px;
  margin:auto;
}


/* 
@media(min-width: 768px){
  body {
    width: 960px;
  }
div:nth-child(1) {
  height: 100px;
}
div:nth-child(2) {
  height: 600px;
  width: 200px;
}
div:nth-child(3), div:nth-child(4)  {
  height: 200px;
  width: 380px;
}

div:nth-child(n+5):nth-child(-n +8) {
  width:190px;
}

div:nth-child(9) {
  height: 150px;
  width: 760px;
}
} */